.container {
    width: 1310px;
    padding-left: 15px;
    padding-right: 15px;
    outline: solid red;
    margin-left: auto;
    margin-right: auto;
}
/* 
body {
    background-color: gold;
} */

.choise-img {
    width: 217.896px;
}















